<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Tokyo2020
        link(rel="stylesheet", href="../css/index.css")
    body
        .Tokyo2020
            .Tokyo2020__warp
                .Tokyo2020__emblem
                    .Tokyo2020__pattern
                        .Square.Square__large.Square__large--01
                        .Square.Square__large.Square__large--02
                        .Square.Square__large.Square__large--03
                        .Square.Square__large.Square__large--04
                        .Square.Square__large.Square__large--05
                        .Square.Square__large.Square__large--06
                        .Square.Square__large.Square__large--07
                        .Square.Square__large.Square__large--08
                        .Square.Square__large.Square__large--09

                        .Square.Square__medium.Square__medium--01
                        .Square.Square__medium.Square__medium--02
                        .Square.Square__medium.Square__medium--03
                        .Square.Square__medium.Square__medium--04
                        .Square.Square__medium.Square__medium--05
                        .Square.Square__medium.Square__medium--06
                        .Square.Square__medium.Square__medium--07
                        .Square.Square__medium.Square__medium--08
                        .Square.Square__medium.Square__medium--09
                        .Square.Square__medium.Square__medium--10
                        .Square.Square__medium.Square__medium--11
                        .Square.Square__medium.Square__medium--12
                        .Square.Square__medium.Square__medium--13
                        .Square.Square__medium.Square__medium--14
                        .Square.Square__medium.Square__medium--15
                        .Square.Square__medium.Square__medium--16
                        .Square.Square__medium.Square__medium--17
                        .Square.Square__medium.Square__medium--18

                        .Square.Square__small.Square__small--01
                        .Square.Square__small.Square__small--02
                        .Square.Square__small.Square__small--03
                        .Square.Square__small.Square__small--04
                        .Square.Square__small.Square__small--05
                        .Square.Square__small.Square__small--06
                        .Square.Square__small.Square__small--07
                        .Square.Square__small.Square__small--08
                        .Square.Square__small.Square__small--09
                        .Square.Square__small.Square__small--10
                        .Square.Square__small.Square__small--11
                        .Square.Square__small.Square__small--12
                        .Square.Square__small.Square__small--13
                        .Square.Square__small.Square__small--14
                        .Square.Square__small.Square__small--15
                        .Square.Square__small.Square__small--16
                        .Square.Square__small.Square__small--17
                        .Square.Square__small.Square__small--18

                    p.Tokyo2020__text TOKYO&thinsp;2020
                        span.Tokyo2020__text--small PARALYMPIC&thinsp;GAMES