
.Square {
    display: block;
    position: absolute;
    background: #002269;

    &__large {
        width: 36px;
        height: 36px;

        &--01 { top:  39px; left: 175px; animation: largeMove01 3s 2s ease-in-out 1 alternate forwards; }
        &--02 { top:  76px; left: 311px; animation: largeMove02 3s 2s ease-in-out 1 alternate forwards; }
        &--03 { top:  89px; left:  89px; animation: largeMove03 3s 2s ease-in-out 1 alternate forwards; }
        &--04 { top: 107px; left:  21px; animation: largeMove04 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 60deg); }
        &--05 { top: 144px; left: 293px; animation: largeMove05 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-60deg); }
        &--06 { top: 243px; left:  57px; transform: rotate(-30deg); }
        &--07 { top: 243px; left: 293px; transform: rotate( 30deg); }
        &--08 { top: 293px; left: 143px; animation: largeMove08 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 60deg); }
        &--09 { top: 342px; left: 193px; animation: largeMove09 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 30deg); }
    }

    &__medium {
        width: 44px;
        height: 26px;

        &--01 { top:  19px; left: 128px; animation: mediumMove01 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-15deg); }
        &--02 { top:  19px; left: 214px; animation: mediumMove02 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 15deg); }
        &--03 { top:  69px; left:  42px; animation: mediumMove03 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-15deg); }
        &--04 { top:  69px; left: 128px; animation: mediumMove04 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 15deg); }
        &--05 { top:  69px; left: 214px; animation: mediumMove05 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-15deg); }
        &--06 { top: 106px; left: 264px; animation: mediumMove06 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 15deg); }
        &--07 { top: 124px; left: 332px; animation: mediumMove07 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-75deg); }
        &--08 { top: 137px; left:  60px; animation: mediumMove08 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 75deg); }
        &--09 { top: 223px; left:  10px; transform: rotate( 75deg); }
        &--10 { top: 198px; left:  53px; animation: mediumMove10 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 45deg); }
        &--11 { top: 199px; left: 289px; animation: mediumMove11 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-45deg); }
        &--12 { top: 224px; left: 332px; transform: rotate(-75deg); }
        &--13 { top: 298px; left:  53px; transform: rotate( 45deg); }
        &--14 { top: 273px; left:  96px; animation: mediumMove14 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 75deg); }
        &--15 { top: 273px; left: 246px; animation: mediumMove15 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-75deg); }
        &--16 { top: 298px; left: 289px; transform: rotate(-45deg); }
        &--17 { top: 347px; left: 139px; animation: mediumMove17 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 45deg); }
        &--18 { top: 298px; left: 189px; animation: mediumMove18 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-45deg); }
    }

    &__small {
        width: 50px;
        height: 14px;

        &--01 { top:   0px; left: 168px; animation: smallMove01 3s 2s ease-in-out 1 alternate forwards; }
        &--02 { top:  25px; left:  75px; transform: rotate(-30deg); }
        &--03 { top:  25px; left: 261px; transform: rotate( 30deg); }
        &--04 { top:  50px; left:  82px; animation: smallMove04 3s 2s ease-in-out 1 alternate forwards; }
        &--05 { top:  50px; left: 254px; animation: smallMove05 3s 2s ease-in-out 1 alternate forwards; }
        &--06 { top:  75px; left: 261px; animation: smallMove06 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-30deg); }
        &--07 { top: 187px; left: -18px; transform: rotate( 90deg); }
        &--08 { top: 180px; left:   7px; animation: smallMove08 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 60deg); }
        &--09 { top: 161px; left:  25px; animation: smallMove09 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 30deg); }
        &--10 { top: 180px; left: 328px; animation: smallMove10 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-60deg); }
        &--11 { top: 187px; left: 353px; transform: rotate( 90deg); }
        &--12 { top: 279px; left:   7px; transform: rotate( 60deg); }
        &--13 { top: 279px; left: 329px; transform: rotate(-60deg); }
        &--14 { top: 347px; left:  75px; transform: rotate( 30deg); }
        &--15 { top: 329px; left:  93px; animation: smallMove15 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 60deg); }
        &--16 { top: 322px; left: 218px; animation: smallMove16 3s 2s ease-in-out 1 alternate forwards; transform: rotate( 90deg); }
        &--17 { top: 328px; left: 243px; animation: smallMove17 3s 2s ease-in-out 1 alternate forwards; transform: rotate(-60deg); }
        &--18 { top: 347px; left: 261px; transform: rotate(-30deg); }
    }
}

@keyframes largeMove01 { from { top:  39px; left: 175px; } to { top: 238px; left: 175px; } }
@keyframes largeMove02 { from { top:  76px; left: 311px; } to { top: 175px; left: 311px; } }
@keyframes largeMove03 { from { top:  89px; left:  89px; } to { top: 175px; left:  40px; } }
@keyframes largeMove04 { from { top: 107px; left:  21px; } to { top: 107px; left: 292px; } }
@keyframes largeMove05 { from { top: 144px; left: 293px; } to { top: 107px; left:  58px; } }
@keyframes largeMove08 { from { top: 293px; left: 143px; } to { top: 256px; left: 107px; } }
@keyframes largeMove09 { from { top: 342px; left: 193px; } to { top: 256px; left: 243px; } }

@keyframes mediumMove01 { from { top:  19px; left: 128px; } to { top: 218px; left: 128px; } }
@keyframes mediumMove02 { from { top:  19px; left: 214px; } to { top: 218px; left: 214px; } }
@keyframes mediumMove03 { from { top:  69px; left:  42px; } to { top: 205px; left:  78px; } }
@keyframes mediumMove04 { from { top:  69px; left: 128px; } to { top: 155px; left:  78px; } }
@keyframes mediumMove05 { from { top:  69px; left: 214px; } to { top: 155px; left: 264px; } }
@keyframes mediumMove06 { from { top: 106px; left: 264px; } to { top: 205px; left: 264px; } }
@keyframes mediumMove07 { from { top: 124px; left: 332px; } to { top: 137px; left:  11px; } }
@keyframes mediumMove08 { from { top: 137px; left:  60px; } to { top: 137px; left: 331px; } }
@keyframes mediumMove10 { from { top: 198px; left:  53px; } to { top:  62px; left: 288px; } }
@keyframes mediumMove11 { from { top: 199px; left: 289px; } to { top:  62px; left:  54px; } }
@keyframes mediumMove14 { from { top: 273px; left:  96px; } to { top: 286px; left: 146px; } }
@keyframes mediumMove15 { from { top: 273px; left: 246px; } to { top: 286px; left: 196px; } }
@keyframes mediumMove17 { from { top: 347px; left: 139px; } to { top: 311px; left: 103px; } }
@keyframes mediumMove18 { from { top: 298px; left: 189px; } to { top: 311px; left: 240px; } }

@keyframes smallMove01 { from { top:   0px; left: 168px; } to { top: 200px; left: 168px; } }
@keyframes smallMove04 { from { top:  50px; left:  82px; } to { top: 186px; left: 118px; } }
@keyframes smallMove05 { from { top:  50px; left: 254px; } to { top: 186px; left: 218px; } }
@keyframes smallMove06 { from { top:  75px; left: 261px; } to { top: 360px; left: 212px; } }
@keyframes smallMove08 { from { top: 180px; left:   7px; } to { top:  93px; left: 328px; } }
@keyframes smallMove09 { from { top: 161px; left:  25px; } to { top: 360px; left: 125px; } }
@keyframes smallMove10 { from { top: 180px; left: 328px; } to { top:  93px; left:   8px; } }
@keyframes smallMove15 { from { top: 329px; left:  93px; } to { top: 341px; left: 143px; } }
@keyframes smallMove16 { from { top: 322px; left: 218px; } to { top: 334px; left: 168px; } }
@keyframes smallMove17 { from { top: 328px; left: 243px; } to { top: 341px; left: 194px; } }